.wrapCoin {
    padding-bottom: 33px;
    .Tat {
        margin-top: 50px;
        .wrapTitle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                margin: 0;
                font-weight: 600;
                font-size: 22px;
                line-height: 120%;
                color: #ffffff;
                font-weight: 400;
            }
            a {
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #5d6588;
                text-decoration: none;
            }
            a:hover {
                color: #546094;
                transition: 0.5s;
            }
            a:not(hover) {
                color: #5d6588;
                transition: 0.5s;
            }
        }
        .wrapCoinList {
            margin-top: 20px;

            .overFlowFor {
                display: flex;
                justify-content: center;
                .wrapCoin {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow-x: auto;
                    background-color: #1e1f25;
                    border-radius: 12px 12px 0 0;
                    padding: 18px 5px 20px 5px;
                    .CoinList {
                        padding-bottom: 18px;
                        padding-left: 25px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid #34384c;
                        span {
                            width: 100px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 14 px;
                            line-height: 24px;
                            color: rgba(255, 255, 255, 0.65);
                        }
                        span:first-child {
                            img {
                                vertical-align: super;
                                cursor: pointer;
                            }
                        }
                        button {
                            opacity: 0;
                            width: 135px;
                        }
                        span:first-child {
                            width: 180px;
                        }
                    }
                    .CoinList:hover {
                        span:first-child {
                            img {
                                transform: rotate(180deg);
                                transition: 0.5s;
                            }
                        }
                    }
                    .CoinList:not(hover) {
                        span:first-child {
                            img {
                                transform: rotate(0deg);
                                transition: 0.5s;
                            }
                        }
                    }
                    .Element {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 25px;
                        border-bottom: 1px solid #34384c;
                        span {
                            display: flex;
                            align-items: center;
                            width: 100px;
                            text-align: left;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 24px;
                            color: #ffffff;
                            img {
                                margin-left: 30px;
                                margin-right: 20px;
                            }
                        }
                        span:first-child {
                            font-size: 12px;
                        }
                        span:nth-child(4) {
                            color: #addc7b;
                        }
                        span:nth-child(5) {
                            color: #ff8663;
                        }
                        span:nth-child(7) {
                            color: #addc7b;
                        }

                        button {
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 24px;
                            text-align: center;
                            color: #5d6588;
                            border: none;
                            border-radius: 12px;
                            background-color: #21242c;
                            padding: 10px 14px;
                            cursor: pointer;
                        }
                        button:hover {
                            background-color: #16171b;
                            transition: 0.3s;
                        }
                        button:not(hover) {
                            background-color: #21242c;
                            transition: 0.3s;
                        }
                        span:first-child {
                            width: 180px;
                        }
                    }
                    .Element:hover {
                        background-color: #282931;
                        transition: 0.1s;
                    }
                    .Element:not(hover) {
                        background-color: #1e1f25;
                        transition: 0.1s;
                    }
                }
            }
        }
    }
    .NavPageCoin {
        background-color: #1e1f25;
        border-radius: 0 0 12px 12px;
        padding: 20px 32px 25px 0;
        .sad {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            align-self: flex-end;
            align-items: center;
            .kovVoPage {
                cursor: pointer;
                margin-right: 26px;
                display: flex;
                align-items: center;
                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.48);
                    margin-right: 15px;
                }
                .AlngSent {
                    height: 22px;
                    align-items: center;
                    img {
                        margin-right: 30px;
                        filter: brightness(0.5);
                    }
                }
            }
            .kovVoPage:hover {
                .AlngSent {
                    img {
                        filter: brightness(1);
                    }
                }
            }
            .wrapRightBlock {
                display: none;
                display: flex;
                align-items: center;
                span {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.48);
                    margin-right: 24px;
                }
                .changePage {
                    img {
                        cursor: pointer;
                        padding: 4px;
                    }
                    img:last-child {
                        transform: rotate(180deg);
                        filter: brightness(0.5);
                    }
                    img:first-child {
                        margin-right: 30px;
                        filter: brightness(0.5);
                    }
                    img:hover {
                        filter: brightness(1);
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1300px) {
    .wrapCoin {
        padding-bottom: 31px;
        .Tat {
            .wrapCoinList {
                .overFlowFor {
                    .wrapCoin {
                        padding: 18px 14px 0px 14px;
                        .Element {
                            span {
                                font-size: 12px;
                                img {
                                    margin-left: 10px;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1200px) {
    .wrapCoin {
        .Tat {
            .wrapCoinList {
                overflow-x: auto;
                .overFlowFor {
                    min-width: 1140px;
                    width: 100%;
                    display: flex;
                    background-color: #1e1f25;
                    border-radius: 12px;
                    .wrapCoin {
                        .CoinList {
                            min-width: 190px;
                            span {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 24px;
                                color: rgba(255, 255, 255, 0.65);
                            }
                            span:first-child {
                                position: absolute;
                                background-color: #1e1f25;
                                // padding: 20px 20px 20px 100px;
                                padding-left: 20px;
                                left: 4vw;
                            }
                            span:nth-child(2) {
                                margin-left: 24.5vw;
                            }
                        }
                        .Element {
                            min-width: 190px;
                            span {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 24px;
                                color: white;
                            }
                            span:first-child {
                                position: absolute;
                                background-color: #1e1f25;
                                left: 4vw;
                                padding-left: 20px;

                                // padding: 20px 20px 20px 100px;
                            }
                            span:nth-child(2) {
                                margin-left: 24.5vw;
                            }
                        }
                        .Element:hover {
                            background-color: #1e1f25;
                            span {
                                background-color: #1e1f25;
                            }
                        }
                    }
                }
            }
            .wrapCoinList::-webkit-scrollbar {
                height: 2px;
                background-color: #34384c;
                border-radius: 50px;
            }
            .wrapCoinList::-webkit-scrollbar-thumb {
                background-color: #00d632;
                border-radius: 50px;
            }
        }
        .NavPageCoin {
            background-color: #1e1f25;
            border-radius: 0 0 12px 12px;
            padding: 20px 20px 25px 20px;
            .sad {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
@media screen and(max-width:950px) {
    .wrapCoin {
        .Tat {
            .wrapTitle {
                h1 {
                    font-size: 20px;
                }
            }
            .wrapCoinList {
                .overFlowFor {
                    .wrapCoin {
                        .CoinList {
                            span:first-child {
                                left: 5vw;
                            }
                        }
                        .Element {
                            span:first-child {
                                left: 5vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:768px) {
    .wrapCoin {
        .Tat {
            margin-top: 30px;

            .wrapCoinList {
                .overFlowFor {
                    .wrapCoin {
                        .CoinList {
                            min-width: 190px;
                            span {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 24px;
                                color: rgba(255, 255, 255, 0.65);
                            }
                            span:first-child {
                                position: absolute;
                                background-color: #1e1f25;
                                // padding: 20px 20px 20px 100px;
                                padding-left: 20px;
                                left: 2.8vw;
                            }
                            span:nth-child(2) {
                                margin-left: 42vw;
                            }
                        }
                        .Element {
                            min-width: 190px;
                            span {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 24px;
                                color: #ffffff;
                            }
                            span:first-child {
                                position: absolute;
                                background-color: #1e1f25;
                                left: 2.8vw;
                                padding-left: 20px;
                            }
                            span:nth-child(2) {
                                margin-left: 42vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:450px) {
    .wrapCoin {
        .Tat {
            .wrapTitle {
                h1 {
                    font-size: 20px;
                }
            }
            .wrapCoinList {
                .overFlowFor {
                    .wrapCoin {
                        .CoinList {
                            span {
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 24px;
                            }
                            span:first-child {
                                width: 170px;
                                position: absolute;
                                background-color: #1e1f25;
                                padding-left: 10px;
                                left: 3.9vw;
                            }
                            span:nth-child(2) {
                                margin-left: 50vw;
                            }
                        }
                        .Element {
                            min-width: 190px;
                            span {
                                font-weight: 500;
                                font-size: 15px;
                                line-height: 24px;
                                color: white;
                            }
                            span:first-child {
                                width: 170px;
                                position: absolute;
                                background-color: #1e1f25;
                                left: 3.9vw;
                                padding-left: 10px;
                                padding-top: 15px;
                                padding-bottom: 15px;
                                img {
                                    margin-left: 29px;
                                    margin-right: 12px;
                                }
                            }
                            span:nth-child(2) {
                                margin-left: 50vw;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:370px) {
    .wrapCoin {
        .Tat {
            .wrapTitle {
                h1 {
                    font-size: 20px;
                }
            }
            .wrapCoinList {
                .overFlowFor {
                    .wrapCoin {
                        .CoinList {
                            span:first-child {
                                left: 4.6vw;
                            }
                        }
                        .Element {
                            span:first-child {
                                left: 4.6vw;
                            }
                        }
                    }
                }
            }
        }
    }
}
